<template name="heroUnit">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Welcome to the Social Network</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In explicabo sit enim earum blanditiis at assumenda, optio, cum iure facilis quibusdam saepe tempore autem et est quos corporis animi numquam?</p>
        </div> <!-- /.jumbotron -->
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</template>
